@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<div class="jumbotron">
    <h2>Teste de Programação ASP.NET MVC</h2>
    <br />
    <p class="lead">Objetivo do teste: Criar um cadastro de cliente que pode ser utilizado para clientes Pessoa Física ou Pessoa Jurídica.</p>
</div>
